<%- include('./partials/header') %>

  <h1>Liste des scraps</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(scrap) { %>
        <tr >
          <td>
           <a href="/sid/<%= scrap.id_scrap %>"><%= scrap.id_scrap %></a> 
          </td>
          <td>
            <%= scrap.scan_date %>
          </td>
          <td>
            <!-- Bouton de suppression avec lien -->
            <a href="/sid/delete/<%= scrap.id_scrap %>" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>

        </tr>
        <% }); %>
    </tbody>
  </table>



  <%- include('./partials/footer') %>